/* ------ Favorite Section ----- */
.favorite-banner-title {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 80px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.favorite-banner {
    position: relative;
}

/* .favorite-banner:hover {
    border: 2px solid #fcae00;
} */

.favorites-page__title {
    color: #fcae00;
    font-weight: 400;
    margin-left: 70px;
    margin-top: 50px
}

.MuiDivider-inset-144 {
    margin-left: 0 !important;
}

.favorites-page-link .MuiChip-root-116 {
    background: #fcae00;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    height: 25px;
}

.favorites-page-link .MuiChip-root-116:hover {
    background: #dc9806;
}

.favorite-banner .favorite-banner__btn {
    margin-top: 40px;
    margin-left: 80px;
    letter-spacing: 1px;
}

.sticky-banner {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background: linear-gradient(28deg, #472086, #4a228a);
    z-index: 1000;
    border-radius: 2px;
    max-height: 190px;
}

.sticky-banner .gif-list {
    padding-left: 50px;
}

.sticky-banner .brand-name {
    position: absolute;
    bottom: 147px;
    left: 26px;
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.favorite-section {
    width: 30px;
    height: 35px;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 22px;
    opacity: 1;
}

/* Heart Button */
.fave-btn {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../assets/heart-animation.png') no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }


.fave-btn.trigger {
background-position: -2800px 0;
transition: background 1s steps(28);
}


.fave-btn.favorited {
    background-position: -2800px 0;
}
  

@keyframes fave-heart {
0% {
    background-position: 0 0;
}
100% {
    background-position: -2800px 0;
}
}


