@import "./gif.css";
@import "./progress-loader.css";
@import "./search-form.css";
@import "./favorite-gifs.css";


/* Main Font */
@font-face {
    font-family: "Walsheim";
    src: url('../assets/GT-Walsheim-Pro-Trial-Light.otf')   
}


body {
    font-family: "Walsheim",arial,sans-serif;
}


.brand-name a {
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-family: "Walsheim";
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #fcae00;
}