@import "./gif.css";
@import "./progress-loader.css";
@import "./favorite-gifs.css";
@import "./paginate.css";
@import "./header.css";

/* Main Font */
@font-face {
    font-family: "Walsheim";
    src: url('../assets/GT-Walsheim-Pro-Trial-Light.otf')   
}


body {
    font-family: "Walsheim",arial,sans-serif;
}



