/* -----------Search Form Styles------------- */

.search-form {
    display: contents;
}

.search-form button {
    color: #fff;
    background: #fcae00;
}

.search-form button:hover {
    background: #dc9806;
}